<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Patient</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1 th:text="${patient.id == null} ? 'Ajouter un Patient': 'Modifier un patient'"></h1>
<form th:action="@{/save}" th:object="${patient}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
        <label>Nom</label>
        <input type="text" th:field="*{nom}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Prenom</label>
        <input type="text" th:field="*{prenom}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Date de Naissance</label>
        <input type="date" th:field="*{dateNaissance}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Adresse</label>
        <input type="text" th:field="*{adresse}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Téléphone</label>
        <input type="text" th:field="*{telephone}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" th:field="*{email}" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="/" class="btn btn-secondary">Annuler</a>
</form>

<script src="/js/bootstrap.bundle.min.js" />
</body>
</html>